h1{
    text-align: center;
}
#news-articles {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.article {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
}